/*
Creator: Max Gubler
Date Created: October 22, 2018
Last Modified: October 25, 2018
*/

html, body {
    height: 100%;
}

main {
    /* Allow room for fixed footer */
    margin-bottom: 5em;
}

body {
    background-image: url('/images/bg-1920w.jpg');
    background-position: center;
    background-size: 1920px;
    background-repeat: repeat-y;
}

header {
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px -2px #949494;
    position: relative;
    z-index: 999;
}

header h1 {
    font-family: 'Mr Dafoe', cursive;
}

.navbar-light .navbar-toggler {
    border-color: #F4CF3B;
}

.nav-pills .nav-link {
    border: 1px solid #F4CF3B;
    color: #333333;
    min-width: 7em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FFFBE9;
}

footer .navbar-dark .navbar-text {
    font-size: 0.75em;
}

footer .navbar-dark .navbar-text a:focus, footer .navbar-dark .navbar-text a:hover {
    text-decoration: none;
    color: #F4CF3B;
}

.carousel {
    background-color: #E95A4F;
    color: #FFFFFF;
    min-height: 720px;
}

.carouselSide {
    background-image: url('/images/sample-720.jpg');
    background-position: right;
    min-height: 720px;
}

#carouselItem3 {
    background-image: url('/images/wine-glass-black-1280.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    padding: 0;
    border-radius: 0 0 0.3rem 0.3rem;
    background-color: #FFFFFF;
    border-left: 1px solid #F4CF3B;
    border-right: 1px solid #F4CF3B;
}

.jumbotron .row div {
    border-bottom: 1px solid #F4CF3B;
    padding: 0.5em;
}

.jumbotron .row > div:nth-child(1) {
    border-radius: 0 0 0 0.3rem;
}

.jumbotron .row > div:nth-last-child(1) {
    border-radius: 0 0 0.3rem 0;
}

.jumbotron p {
    margin: 0;
}

.jumbotron .display-4 {
    font-size: 2.5em;
}

/* Menu */
.menuContainer {
    margin-top: 2rem;
    background-color: #FFFFFF;
    font-family: 'Crimson Text', serif;
}

.menuItem {
    padding: 1em 0;
}

.menuItem div:nth-child(1) {
    font-weight: bold;
}

/* Contact */
.contactContainer {
    margin-top: 2rem;
    background-color: #FFFFFF;
}

.btn-theme {
    background-color: #F4CF3B;
    border: 1px solid #CED4dA;
}