/*
Creator: Max Gubler
Date created: October 22, 2018
Date last modified:
*/

body {
    margin: 0;
}

header, footer {
    text-align: center;
}

header h1 {
    font-family: 'Righteous', cursive;
}

nav {
    border-top: 5px solid #803315;
    border-bottom: 5px solid #803315;
    padding: 10px;
}

nav a:visited {
    color: #806515;
}

nav a:hover {
    font-weight: bold;
}

nav a:active {
    text-decoration: none;
}

main {
    background-color: #FFEAAA;
    width: 75%;
    min-width: 400px;
    margin: 0 auto;
}