/*
Creator: Max Gubler
Date created: October 22, 2018
Date last modified:
*/

header h1 {
    font-family: 'Mr Dafoe', cursive;
}

nav a:hover {
    background-color: #222222;
}

.carousel {
    background-color: #e95a4f;
    min-height: 720px;
}

.carouselSide {
    background-image: url('https://via.placeholder.com/720x720');
    background-position: center;
    min-height: 720px;
}

.jumbotron {
    padding: 0;
    box-shadow: 0 1px 10px -2px #949494;
}

.jumbotron .row div {
    border-bottom: 1px solid #dddddd;
}

.jumbotron .row > div:nth-child(1) {
    border-radius: 0 0 0 0.3rem;
}

.jumbotron .row > div:nth-last-child(1) {
    border-radius: 0 0 0.3rem 0;
}

.jumbotron p {
    margin: 0;
}

.jumbotron .display-4 {
    font-size: 2.5em;
}