/*
Creator: Max Gubler
Date created: October 22, 2018
Date last modified:
*/

header, footer {
    text-align: center;
}

header h1 {
    font-family: 'Mr Dafoe', cursive;
}

footer {
    border-top: 1px solid #343a40;
}

nav a:hover {
    background-color: #222222;
}